body {color: #40514E;
  background-color: white;
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
}

.div-1 {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 80px
}

h1 {
  font-size: 375%;
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  margin:  auto 0 auto
}

p {
  font-size: 125%;
  font-family: 'Montserrat', sans-serif;
}

.top-cloud {
  position: relative;
  left: 200px
}

.bottom-cloud {
  position: absolute;
}

h2 {
  font-size: 250%
}

.cap {
  height: 60px;
  width: 60px;
}

.div-3 {
  background-color: #EAF6F6;
  padding-top: 50px;
  padding-bottom: 40px
}

.sleeping {
  height: 20px;
  width: 20px
}

.food {
  height: 20px;
  width: 20px;
  display: inline-block;
}

.drink {
  height: 20px;
  width: 20px;
  display: inline-block;
}

.center {
  margin-left: auto;
  margin-right: auto;
  border-style: ridge;
  border-color: #66BFBF;
  border-spacing: 15px
}

.div-4 {
  padding-bottom: 20px;
  padding-top: 20px
}



h3 {
  font-size: 187.5%;
  color: #66BFBF;
  margin-bottom: 0
}
.div-5{background-color: #EAF6F6;}
.div-5-1{width: 50%;
  padding-top: 50px;
  padding-bottom: 40px;
margin: 100px auto 100px auto;
text-align: left;
}
.code{width: 25%;
float: left;
margin-right: 30px}
.code-para{margin-left: 200px}
.div-5-2{width: 50%;
margin: 100px auto 100px auto;
text-align: right;
padding-bottom: 80px}

.digital{border-radius: 100%;
width: 25%;
float: right;
margin-left: 30px;
}
.digital-para{margin-right: 200px}
.btn{
  height:100%;
}
.btn{
  text-align:center;
}
.btn:before{
  content:'';
  height:100%;
  display:inline-block;
  vertical-align:middle;
}
button{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  font-family: 'Montserrat', sans-serif;
}
button:hover{
  background:#fff;
  color:#1AAB8A;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
.contact{width: 30%;
  margin: auto;
  margin-bottom: 25px
}
.div-7{background-color: #66BFBF;
margin-top: 60px;
padding: 30px
}
a{color: #11999E;
font-family: 'Montserrat', sans-serif;
margin: 10px 20px;
text-decoration: none;}
a:hover{ color: #EAF6F6 }
.last{color: #EAF6F6;
margin-top: 30px;
font-size: 0.75em}
